/*webkit-sassui-more Start*/
/*webkit-sassui-more End*/
.test-webkit-sassui-more {
  text-align: center;
  background: #eee;
  line-height: 40px;
  height: 40px;
  font-size: 13px;
  color: #55555d;
}

.test-webkit-sassui-more:after {
  content: '';
  display: inline-block;
  position: relative;
  top: -2px;
  left: 8px;
  -webkit-transition: 500ms;
  transition: 500ms;
  width: 7px;
  height: 7px;
  border-bottom: 1px solid #111;
  border-left: 1px solid #111;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
